html {
    font-size: 100vw / 3.75;
}

body {
    font-size: 0.14rem;
}


/* vant样式重写 */

.van-search .van-cell {
    font-size: 0.14rem;
    line-height: 0.24rem;
    padding: 0.05rem 0.08rem 0.05rem 0 !important;
}

.van-field__left-icon {
    margin-right: 0.05rem;
}

.van-field__left-icon .van-icon,
.van-field__right-icon .van-icon,
.van-icon {
    font-size: 0.16rem !important;
    min-width: 0.1em !important;
}

.van-search__action {
    font-size: 0.14rem !important;
}

.van-button--normal {
    padding: 0 0.15rem!important;
    font-size: 0.14rem!important;
}

.van-button {
    height: 0.44rem !important;
    line-height: 0.42rem!important;
    border-radius: 0.24rem!important;
}

.van-dialog__header {
    padding-top: 0.24rem!important;
    line-height: 0.24rem!important;
}

.van-dialog__message {
    padding: 0.24rem!important;
    font-size: 0.14rem!important;
}

.van-dialog {
    width: 3.2rem!important;
}

.van-button,
.van-dialog {
    font-size: 0.16rem!important;
}

.van-toast {
    font-size: 0.14rem!important;
    line-height: 0.2rem!important;
    width: 0.9rem!important;
    min-height: 0.9rem!important;
    padding: 0.16px!important;
}

.van-swipe__indicators {
    bottom: 0.12rem!important;
}

.van-swipe__indicator {
    width: 0.06rem!important;
    height: 0.06rem!important;
}

.van-swipe__indicator:not(:last-child) {
    margin-right: 0.06rem!important;
}

.van-swipe__indicator.van-swipe__indicator--active {
    width: 0.18rem!important;
    border-radius: 0.06rem!important;
}


/* 返回按钮 */

.back {
    position: absolute;
    width: 0.3rem;
    height: 0.3rem;
    padding-top: 0.15rem;
    padding-left: 3.5%;
    left: 0;
    top: 0;
    z-index: 99;
}

.back>img {
    width: 0.3rem;
    height: 0.3rem;
}


/* 漫画列表 */

.span {
    display: inline-block;
    width: 100%;
    height: 0.3rem;
    padding: 0.06rem 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 0.14rem;
    color: #323233;
    background-color: #fff;
    border: 0.01rem solid #ebedf0;
    border-radius: 0.04rem;
}

.span.active {
    background: #fb739a;
    color: #fff;
}

.list_box {
    padding: 0.07rem 0.1rem;
    box-sizing: border-box;
}

.positionR {
    position: relative;
}

.morezj .van-button {
    height: 0.4rem;
    line-height: 0.4rem;
}

.morezj .van-button__text {
    display: inline-block;
    max-width: 0.68rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flex {
    display: flex;
}

.flexCen {
    justify-content: space-between;
    align-items: center;
}

.textOverflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.index_border {
    background: #F8F8F9;
    border-top: 0.01rem solid #F4F4F4;
    border-bottom: 0.01rem solid #F4F4F4;
    height: 0.1rem;
}

.list_box a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.05rem
}